body {
    background-color:lightgray;

}

footer {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;

}
main {
    max-width: 970px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    
    
    
}

#graf {
    height: 400px;
}

a, div {
    background-color:crimson;
    text-decoration: none;
    font-family: fantasy;
    color: white;
    
}

#fest {
    max-height: 500px;

}

.op {
    padding: 0 16px;
    background-color: transparent;
}


nav {
    background-color: crimson;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    align-items: center;
    margin-bottom: 20px;
    
    color:crimson; 
    text-align: center;
    padding-right: 16px;
}

    


img, video {
    width: 100%;
}

#konk {
background-image: url(kadda.jpg);
background-size: cover;

width:100%;

color: white;
background-color: crimson;

}


/*header > * {  
margin-right: 100px;
display: inline;
}



header {
    font-size: 40px;
    font-family: fantasy;
    color: crimson;
    white-space: nowrap; 
     }
     */



/* #tg, #af, #kultur, #kjøp {
    background-color: white;
    color:crimson;
    text-align: center;
} */

#kultur:hover { color: lightskyblue;  ;
}

#kjøp:hover {color:  lightskyblue; ;
}



#tg:hover { 
    color: lightskyblue; ;  }

#af:hover {
    color: lightskyblue; ;  }


#coronanews {
    font-size: 60px;
    background-color: crimson;
    color: white;
    padding: 0 16px;
}


#coronanews:hover {
    color: crimson;
    background-color: white;
}

#sendinn {
    font-size: 30px;
    color: white;
    background-color: crimson;
}


#sendinn:hover {
    color: crimson;
    background-color: white;
}


#konkh1 {
    font-size: 100px;
}
 #dato {
     font-family: fantasy;
     font-size: 10px;
     color: lightblue;
 }







.kol-1 { grid-column: span 1; }
.kol-2 { grid-column: span 2; }
.kol-3 { grid-column: span 3; }
.kol-4 { grid-column: span 4; }
.kol-5 { grid-column: span 5; }
.kol-6 { grid-column: span 6; }
.kol-7 { grid-column: span 7; }
.kol-8 { grid-column: span 8; }
.kol-9 { grid-column: span 9; }
.kol-10 { grid-column: span 10; }
.kol-11 { grid-column: span 11; }
.kol-12 { grid-column: span 12; }
