body {
    background-color:lightgray;
    }

img, video {
        width: 100%;
    }

main {
    max-width: 970px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    }
    
#coronanews {
    font-size: 60px;
    background-color: crimson;
    color: white;
    padding: 0 16px;
    }

#coronanews:hover {
    color: crimson;
    background-color: white;
    }

#kultur:hover { 
    color: lightskyblue;  ;
    }

#kjøp:hover {
    color:  lightskyblue; ;
    }

#tg:hover { 
    color: lightskyblue; ;  
    }

#af:hover {
    color: lightskyblue; ;  
    }

a, div {
    background-color:crimson;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    color: white;
    }

#fest {
    max-height: 500px;
    }

.op {
    padding: 0 16px;
    background-color: transparent;
    font-family: 'Noto Serif', serif;
    color: white;
    }

#land {
    background-color: white;
    color: crimson;
    font-size: 20px;
    }

nav {
    background-color: crimson;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 16px;
    }

#konk {
background-image: url(sky.jpg);
background-size: cover;
width:100%;
color: white;
background-color: crimson;
    }

#sendinn:hover {
    color: crimson;
    background-color: white;
    }

.j {
    background-color: white;
    color: crimson;
    font-size: 20px;
    padding: 2px 10px;
    font-family: inherit;
    
    }

#dato {
    padding: 2px 10px;
    font-family: 'Noto Serif', serif;
    }

#kom {
    padding: 4px;
    }

footer {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;
    }




.kol-1 { grid-column: span 1; }
.kol-2 { grid-column: span 2; }
.kol-3 { grid-column: span 3; }
.kol-4 { grid-column: span 4; }
.kol-5 { grid-column: span 5; }
.kol-6 { grid-column: span 6; }
.kol-7 { grid-column: span 7; }
.kol-8 { grid-column: span 8; }
.kol-9 { grid-column: span 9; }
.kol-10 { grid-column: span 10; }
.kol-11 { grid-column: span 11; }
.kol-12 { grid-column: span 12; }
