body {
    background-image: url(bussen.jpg);
    background-size: cover;
}

h1 {
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(68, 72, 138);
    text-align: center;

}
h1:hover { 
    transform: scale(1.1) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;

}
h2:hover {
    transform: scale(1.1) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;

}

h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(68, 72, 138);
    text-align: center;
}


#fredrik:hover {
    transform: scale(1.1) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;

}

#truls:hover {
    transform: scale(1.1) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;

}

#forside:hover {
    transform: scale(1.1) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;

}

#content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    
}

   

a {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center
}

a > img {
    height: 225px;
}

a > img:hover {
    transform: scale(1.1) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;
}

#vg2 {
    height: 225px;
}
#vg3{
    height: 225px;
}
h3, h4, h5 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: lightpink;
}

img {
    margin: auto;
    width: 400px;
}



#reg
{ 
font-size: 20px;
font-family: fantasy;
color: cornflowerblue;
margin-left: 30px;


}
input[text]{
    margin-left: 20px;
}
input {
    font-size: 20px;
    font-family: fantasy;
    margin-left: 20px;
}

#aar {
    
    transform: scale(0.8) ;
    transition: 2s;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;

}
#søknad {
    margin: 20px;
    color: cornsilk;
    font-family: fantasy;
    font-size: 20px;
    background-color: crimson;
    border-radius: 5px;
}
h6 {
    color: cornsilk;
    background-color: crimson;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
    margin: 100px;

}
span {
    color: crimson;
    background-color: cornsilk;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
    margin: 100px;
    text-decoration: none;

}
#liveaid {
    text-decoration: none;
}
span:hover { 
    transform: scale(1.8) ;
    transition: 2s;
    box-shadow: 20px 10px 10px black;
    border-radius: 5px;
    color: cornsilk;
    background-color: crimson;
}

footer {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: lightcyan;

}
#søknad:hover {
    transform: scale(1) ;
    color: crimson;
    background-color: cornsilk;
}

#velg { 
    
    font-size: 20px;
    font-family: fantasy;
    color: grey;
}

#dato { 
    font-size: 20px;
    font-family: fantasy;
    color: grey;
}

body { line-height: 20px;}
